body {
    background-color: rgb(253, 244, 244);
}



h1 {
    color: pink;
    font-size: 50px;
    text-decoration: underline
}


Skills

html
css
Javascript
git

Contact


News articles that I find interesting
-blind man coding
